body{
    max-width:700px;
    margin:0 auto;
    padding:10px;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    background-color:#f1d8c3;
    z-index:-1;
}

h1{
    color:#FFFFFF;
    background-color:#FF3333;
    border-radius:5px;
    border-left:solid 10px #000000;
    border-right:solid 10px #000000;
    padding:5px 7px;
}

h2{
    display:table;
    border:solid 1px #000000;
    border-radius:5px;
    padding:5px 7px;
    margin-top:20px;
    margin-bottom:10px;
}

h3{
    font-family:sans-serif;
    font-size:14pt;
    border:solid 1px #000000;
    border-radius:5px;
    padding:1px 10px;
    margin-top:20px;
    margin-bottom:10px;
}
/* <a>タグの「疑似クラス」 */
a:link{
    text-decoration:none;
    color:#003cff;
    font-size:20px
}

a:visited{
    color:#990099;
}

a:hover{
    color:#FF0000;
    font-weight:bold;
}
dt {
    margin-top:20px;
}