/* 基本的なスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000000;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

/* リンクのスタイル */
a {
    color: #1e50e5;
    /* font-size: 30px; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.px {
    font-size: 20px
}
.em {
    font-size: 1.5em
}

div#content {
    /* background-color: #99cc33; */
    width: 1000px;
    overflow: hidden;
}
    
div#main {
/* background-color: #f0f0f0; */
width: 300px;
float: left;
}

nav {
/* color: #000000; */
/* background-color: #6133cc; */
width: 450px;
float: right;
}